.hudQas {
  grid-area: logo / logo / logo / logo;
  padding: 10px 0px 0px;
}

.eumqay {
  top: 0px;
  left: 0px;
  width: 100%;
  position: fixed;
  z-index: 12;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(184, 195, 204);
}

.hcFGgl {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  padding: 0px;
  margin: 0px auto;
}

.kaqJWR {
  height: 50px;
  width: 100%;
  display: grid;
  grid-template-areas: "logo list buttons";
  background: rgb(255, 255, 255);
  margin: 0px auto;
}

.lisgCR {
  text-align: center;
  grid-area: list / list / list / list;
  overflow: hidden;
}
.gGSAWg {
  font-family: Roboto;
  float: left;
  box-shadow: rgb(6, 117, 206) 0px -4px 0px 0px inset;
  font-weight: bold;
  color: rgb(59, 65, 70);
  padding: 0px 15px 16px;
  transition: box-shadow 0.5s ease 0s, text-shadow 0.5s ease 0s;
}

.gGSAWg:hover {
  box-shadow: rgb(6, 117, 206) 0px -4px 0px 0px inset;
}

li:last-child {
  list-style-type: none;
}


