  .card1 {
    align-self: end;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .with-icon {
    display: flex;
    align-items: center;
}
