<mat-card>
    <mat-card-header>
      <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + event.country.imageUrl + ')', 'background-size': 'cover'}"></div>
      <mat-card-title>{{event.name}}</mat-card-title>
      <mat-card-subtitle>{{event.type.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]=event.country.imageUrl alt="Photo of the city">
    <mat-card-content>
        <div class="with-icon">
            <mat-icon aria-hidden="false" aria-label="Location icon">location_on</mat-icon>{{event.country.city}} - {{event.country.name}}
          </div>
      <div class="with-icon">
          <mat-icon aria-hidden="false" aria-label="Location icon">timer</mat-icon>{{ event.startDate | date:'dd/MM/yyyy HH:mm:ss' }}
    </div>
    <div class="with-icon">
        <mat-icon aria-hidden="false" aria-label="Location icon">event_avaliable</mat-icon>{{ event.endDate | date:'dd/MM/yyyy HH:mm:ss' }}
  </div>
  <div class="with-icon">
      <mat-icon aria-hidden="false" aria-label="Location icon">{{event.accessLevel.name === 'Non-Premium' ? 'lock_open' : 'lock'}}</mat-icon>{{event.accessLevel.name === 'Non-Premium' ? 'Open event' : 'Only premium members'}}
 </div>
      <p>
        {{event.shortDescription}}
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary">See Details</button>
        <button mat-raised-button color="primary">Apply</button>
    </mat-card-actions>
  </mat-card>

