<div class="row">
  <div class="col-sm-12">
<h4>Next Events</h4>

<mat-form-field>
    <input matInput [matDatepicker]="dp" placeholder="Choose the event date" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
                    startView="multi-year"
                    (yearSelected)="chosenYearHandler($event)"
                    (monthSelected)="chosenMonthHandler($event, dp)"
                    panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>

    <section>
      <p class="text-margin">Account Type</p>
      <div class="col-sm-12">
      <mat-checkbox (change)="onSelectAccountType(0, $event)">Non-Premium</mat-checkbox>
    </div>
      <div class="col-sm-12">
      <mat-checkbox (change)="onSelectAccountType(1, $event)">Premium</mat-checkbox>
    </div>
    </section>


    <p class="text-margin">Event Type</p>
    <mat-form-field>
      <mat-label>Select the event</mat-label>
      <mat-select [formControl]="eventForm" multiple (closed)="onCloseEventTypeSelect()">
        <mat-option *ngFor="let eventType of eventsTypeMock" [value]="eventType.id">{{eventType.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <p class="text-margin">Location</p>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
          <button mat-icon-button disabled></button>
          <mat-checkbox class="checklist-leaf-node"
                        [checked]="checklistSelection.isSelected(node)"
                        (change)="todoLeafItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
        </mat-tree-node>


        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.filename">
            <mat-icon class="mat-tree-node" class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <mat-checkbox [checked]="descendantsAllSelected(node)"
                        [indeterminate]="descendantsPartiallySelected(node)"
                        (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
        </mat-tree-node>
      </mat-tree>
    </div>
</div>
